#form1
{
    float:left;
    width: 50%!important;
}

#form2
{
    float:left;
    width: 50%!important;
}

input{
    border: 1px solid grey;
    background-color: #ffff!important;
    color: #000;
    width: 50%!important;
    padding-top: 2px!important;
    padding-right: 2px!important;
    padding-bottom: 2px!important;
    padding-left: 2px!important;
}

select  {
    border: 1px solid grey;
    background-color: #ffff!important;
    color: #000;
    width: 50%!important;
    padding-top: 2px!important;
    padding-right: 2px!important;
    padding-bottom: 2px!important;
    padding-left: 2px!important;
}


textarea {
    border: 1px solid grey;
    background-color: #ffff!important;
    color: #000;
    width: 50%!important;
    padding-top: 2px!important;
    padding-right: 2px!important;
    padding-bottom: 2px!important;
    padding-left: 2px!important;
    resize: vertical!important;
}

date {
    border: 1px solid grey;
    background-color: #ffff!important;
    color: #000;
    width: 50%!important;
    padding-top: 2px!important;
    padding-right: 2px!important;
    padding-bottom: 2px!important;
    padding-left: 2px!important;
    resize: vertical!important;
}